
HcTheme {
    qproperty-Background: #282A36;
    qproperty-CurrentLine: #44475A;
    qproperty-Foreground: #F8F8F2;
    qproperty-Comment: #6272A4;
    qproperty-Cyan: #8BE9FD;
    qproperty-Green: #50FA7B;
    qproperty-Orange: #FFB86C;
    qproperty-Pink: #FF79C6;
    qproperty-Purple: #BD93F9;
    qproperty-Red: #FF5555;
    qproperty-Yellow: #F1FA8C;
}

QMainWindow {
    background-color: #282a36;
    color: #f8f8f2;
}

QStackedWidget {
    background-color: #313342;
    color: #f8f8f2;
}

QStackedWidget[protocol="true"] {
    background-color: #282A36;
    color: #f8f8f2;
    border: 1px solid #313342;
    margin-top: 10px;
}

QWidget[HcWidgetDark="true"] {
    background: #282A36;
}

QTabWidget {
    background: #282a36;
}

.QTabWidget::pane {
    border:none
}

QComboBox {
    background-color: #44475a;
    color: #f8f8f2;
}

QAbstractItemView {
    background-color: #44475a;
    color: #f8f8f2;
}

QTableWidget {
    background-color: #282a36;
    color: #f8f8f2;
    alternate-background-color: #313342
}

QTableWidget::item {
    border-bottom: 1px solid #44475A;
}

QTableWidget::item:selected {
    background-color: #6272a4;
    color: #F8F8F2;
}

QTabBar[HcProtocolTab="true"]::tab {
    background: #313342;
    color: #f8f8f2;
    padding-top: 3px;
    padding-bottom: 3px;
}

QTabBar[HcProtocolTab="true"]::tab:selected {
    background: #44475A;
    color: #f8f8f2;
    border: 1px solid #6272A4;
}

QTabWidget[HcPageTab="true"]::tab-bar {
    alignment: center;
}

QTabBar[HcPageTab="true"]::tab {
    background: #44475A;
    color: #f8f8f2;
    min-width: 100px;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 4px;
    border-radius: 2px;
}

QTabBar[HcPageTab="true"]::tab:selected {
    background: #44475A;
    color: #f8f8f2;
    border: 1px solid #6272A4;
}

QTabBar[HcTab="true"]::tab {
    background: #282A36;
    color: #f8f8f2;
    margin: 3px 1px 0;
    padding: 4px 10px 4px 10px;
    border: 1px solid #44475A;
    border-bottom-color: transparent;
}

QTabBar[HcTab="true"]::tab:selected {
    background: #44475A;
    color: #f8f8f2;
    border: 1px solid #6272A4;
    padding: 4px 10px 4px 10px;
    border-bottom-color: transparent;
}

QTabBar::close-button {
    image: url(:/icons/tab-close-button);
    subcontrol-position: right;
}

QTabBar::close-button:hover {
    background: #282a36;
}

QLabel {
    color: #f8f8f2;
}

QGroupBox {
    background: #282a36;
    color: #f8f8f2;
}

QLineEdit, QDateTimeEdit {
    padding: 4px 6px 4px 6px;
    background-color: #44475A;
    color: #f8f8f2;
    border-radius: 0;
    border:  1px solid #282a36;
}

QLineEdit[HcLineEdit="dark"] {
    padding: 4px 6px 4px 6px;
    background-color: #282a36;
    color: #f8f8f2;
    border-radius: 0;
    border:  1px solid #282a36;
}

QLineEdit:focus {
    border: 1px solid #6272a4;
}

QLineEdit[HcLineEdit="true"] {
    border-radius: 0;
    padding: 2px 6px 2px 0;
    border:  1px solid #6272a4;
    background-color: #282a36;
    color: #f8f8f2;
    border-left-color: transparent;
}

QComboBox[HcLineEdit="true"] {
    border-radius: 0;
    padding: 2px 6px 2px 2px;
    border:  1px solid #6272a4;
    background-color: #44475A;
    color: #f8f8f2;
    border-left-color: transparent;
}

QLabel[HcLineEdit="true"] {
    border:  1px solid #6272a4;
    padding: 2px 6px 2px 6px;
    background-color: #44475A;
    font-weight: bold;
}

QLabel[HcLabelNamed="title"] {
    border: 1px solid #6272a4;
    padding: 2px 6px 2px 6px;
    background-color: #44475A;
    font-weight: bold;
}

QLabel[HcLabelNamed="text"] {
    border:  1px solid #6272a4;
    padding: 2px 6px 2px 6px;
    background-color: #282a36;
    font-weight: bold;
}

QDialog {
    background: #282a36;
    color: #f8f8f2;
}

QLabel {
    color: #f8f8f2;
}

QLabel[HcLabelDisplay="true"] {
    border-radius: 1px;
    border:  1px solid #6272a4;
    padding: 2px 6px 2px 6px;
    background-color: #282a36;
    font-weight: bold;
}

QLabel[HcLabelDisplay="green"] {
    border-radius: 1px;
    border:  1px solid #44475A;
    padding: 2px 6px 2px 6px;
    background-color: #313342;
    font-weight: bold;
    color: #50FA7B;
}

QLabel[HcLabelDisplay="green-full"] {
    border-radius: 1px;
    border:  1px solid #50FA7B;
    padding: 2px 6px 2px 6px;
    background-color: #313342;
    font-weight: bold;
    color: #50FA7B;
}

QLabel[HcLabelDisplay="red"] {
    border-radius: 1px;
    border:  1px solid #44475A;
    padding: 2px 6px 2px 6px;
    background-color: #313342;
    font-weight: bold;
    color: #FF5555;
}

QLabel[HcLabelDisplay="red-full"] {
    border-radius: 1px;
    border:  1px solid #FF5555;
    padding: 2px 6px 2px 6px;
    background-color: #313342;
    font-weight: bold;
    color: #FF5555;
}

QLabel[HcLabelDisplay="cyan"] {
    border-radius: 1px;
    border:  1px solid #44475A;
    padding: 2px 6px 2px 6px;
    background-color: #313342;
    font-weight: bold;
    color: #8BE9FD;
}

QLabel[HcLabelDisplay="professional"] {
    border-radius: 1px;
    border:  1px solid #44475A;
    padding: 2px 6px 2px 6px;
    background-color: #313342;
    font-weight: bold;
    color: #b180ff;
}

QLabel[HcLabelDisplay="tag"] {
    border-radius: 3px;
    border: 1px solid #44475A;
    padding: 2px 6px 2px 6px;
    background-color: #282a36;
    font-weight: bold;
    color: #F8F8F2;
}

QListWidget::item:selected {
    background: #44475A;
}

QLabel[HcLabelLink=true] {
    color: #8BE9FD;
}

QTextEdit {
    background-color: #44475A;
    color: #f8f8f2;
}

QListWidget[HcListWidget="dark"] {
    background-color: #282A36;
    color: #f8f8f2;
}

QTextEdit[HcConsole="true"] {
    background-color: #282A36;
    color: #f8f8f2;
}

QLayout {
    background-color: #282A36;
    color: #f8f8f2;
}



QCheckBox {
    background-color: #282a36;
    color: #f8f8f2;
}

QMenu {
    background: #282a36;
    color: #f8f8f2;
    border: 1px solid #44475a;
    padding: 2px;
}


QMenu::item:selected {
    background: #313342;
    color: #f8f8f2;
}

QPushButton[objectName="SideHavoc"] {
    border: 0px;
    background-color: #282a36;
    color: #f8f8f2;
    margin-left: 6px;
    padding-top: 10px;
    padding-right: 2px;
    padding-bottom: 10px;
}

QPushButton[objectName^="SideButton"] {
    border: 0;
    background-color: #282a36;
    color: #f8f8f2;
    margin-left: 0;
}

QPushButton[HcButtonUsed="true"] {
    border: 0 solid #f8f8f2;
    border-left-width: 2px;
}

QPushButton[HcButtonUsed="false"] {
    border: 0 solid #282a36;
    border-left-width: 2px;
}

QPushButton {
    color: #f8f8f2;
    background-color: #44475a;
}

QToolButton, QPushButton[HcButton="true"] {
    color: #f8f8f2;
    border-radius: 2px;
    border:  1px solid #44475a;
    padding: 3px 6px 3px 6px;
    background-color: #44475a;
    font-weight: bold;
}

QToolButton::menu-indicator[HcButton="true"] {
    background: transparent;
}

QPushButton[HcButtonPurple="true"] {
    background-color: #b180ff;
}

QPushButton[HcButtonGreen="true"] {
    background-color: #50FA7B;
}

QToolButton:pressed, QPushButton:pressed[HcButton="true"] {
    border: 1px solid #bd93f9;
    background-color: #282A36;
    color: #f8f8f2;
}

QPushButton[HcButtonInstall="install"] {
    border-radius: 2px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    border: 1px solid #50FA7B;
    background: #44475a;
    color: #F8F8F2;
}

QPushButton:pressed[HcButtonInstall="install"] {
    border: 1px solid #50FA7B;
    background: #44475A;
}

QPushButton:hover[HcButtonInstall="install"] {
    border: 1px solid #50FA7B;
    color: #50FA7B;
}

QPushButton[HcButtonInstall="installing"] {
    border-radius: 2px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    border: 1px solid #44475A;
    background: #282a36;
    color: #F8F8F2;
}

QPushButton[HcButtonInstall="uninstall"] {
    border-radius: 2px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    border: 1px solid #FF5555;
    background: #44475a;
    color: #F8F8F2;
}

QPushButton:pressed[HcButtonInstall="uninstall"] {
    border: 1px solid #FF5555;
    background: #44475A;
}

QPushButton:hover[HcButtonInstall="uninstall"] {
    border: 1px solid #FF5555;
    color: #FF5555;
}